<% include header %>


<div class="container" id="page">
    <a href="/<%= series %>"><img src="/assets/img/<%= series %>.png"  class="img-responsive center" ></a>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Video</button>
        <% if(character_videos == ""){ %>  <p>There are no videos for this character. Go ahead and submit a video!</p> <% } else{  %>
        <img src = "/assets/img/characters/<%= series %>/<%= character_videos[0].characters %>.png" class="img-responsive center">
        <hr>
        <% for (var i = 0; i < character_videos.length; i++) { %>
            <!--<h1><%= character_videos[i].id %> </h1>-->
        <div class="video row" id="video-<%= character_videos[i].id %>">
            <div class="likes col-md-2 text-right upvote" id="topic">
                <a class="upvote"></a>
                <span class="totalVotes count"><%= character_videos[i].votes %></span>
                <a class="downvote"></a>
            </div>
            <div class="info col-md-10">
                <a href="<%= character_videos[i].url %>">
                    <img src="img.png" class="youtubeLinkImg">
                    <p class="videoTitle"><%= character_videos[i].title %></p>
                    <small>Posted on <i><%= character_videos[i].date %> </i></small>
                </a>
            </div>
        </div>

        <%      }
            }
        %>
        <% include individual_footer_special  %>
</div>

<% include modal %>

<% include footer %>
